* {
    box-sizing: border-box;
    font-family: 'Electrolize', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*:focus {
    outline: none;
}

a {
    cursor: pointer;
}
:root {
    --primary-font-type: 'Electrolize', sans-serif;
    --secondary-font-type: 'Butcherman', cursive;
    --primary-color: #a502e7;
    --secondary-color: #0fbae5;
    --alternate-color: #f37ba9;
    --alternate-second-color: #288358;
    --alternate-shade-color: #6fd42f;
}
body {
    margin: 0;
    padding: 0;
    background: #ffffff calc(50%) 0% url('./bg_slime.png') no-repeat;
    font-size: 16px;
}

h2, h4 {
    text-transform: capitalize;
    padding: 25px 0;
    text-align: center;
    margin: 10px 0 0 0;
}

label {
    display: inline-block;
    padding: 15px 0;
    font-size: 18px;
}

input[type="text"], input[type="email"], input[type="tel"] {
    height: 60px;
    padding: 10px 12px;
    border: 1px solid transparent;
    width: 100%;
    font-size: 18px;
    text-align: center;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

input[type="text"]--focus, input[type="email"]--focus, input[type="tel"]--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

input[type="text"]--invalid, input[type="email"]--invalid, input[type="tel"]--invalid {
    border-color: #fa755a;
}

input[type="text"]--webkit-autofill, input[type="email"]--webkit-autofill, input[type="tel"]--webkit-autofill {
 background-color: #fefde5 !important;
}

.finalCost {
    font-size: 24px;
    align-self: flex-end;
    width: 100%;
    text-align: right;
}

.fas {
    padding: 10px 0 0 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-wrap: wrap;
}

button {
    border: none;
    background: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
    border-style: none;
    outline: none;
}
button:hover {
    transform: translateY(-1px);
    /* box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1),
    0 3px 6px rgba(0, 0, 0, 0.08); */
}


.formWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.formContainer {
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: center;
    align-items: center;
    margin: 0 0 10px 0;
    border-radius: 10px;
    background-color: var(--alternate-color);
    opacity: 0.9;
    padding: 20px;

}
.banner {
    font-family: 'Electrolize', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    background: var(--primary-color);
    opacity: 0.7;
    color: white;
    padding: 10px 0;
    align-self: flex-start;
    margin-top: 10px;
}

.bannerName {
    font-family: 'Butcherman', cursive;
    font-size: 44px;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
    padding: 0 20px 10px;
    word-spacing: 10px;
}

.bannerDate {
    font-size: 24px;
    padding: 0 20px 10px;
    font-weight: bold;
    text-transform: uppercase;
}

.bannerTime {
    font-size: 18px;
    padding: 0 20px 10px;
}

.bannerAddress {
    font-size: 14px;
    padding: 0 20px 10px;
}

.bannerCost {
    word-spacing: 5px;
    padding: 10px 20px 10px;
    width: 100%;
    background-color: #0fbae5;
    text-align: center;
    color: black;
}

.bannerCost > span {
    font-size: 28px;
    letter-spacing: 5px;
}

.addChild {
    margin-top: 10px;
    align-self: flex-end;
    padding-right: 10px;
    font-size: 14px;
}

.addChild:hover > i {
   color: dodgerblue; 
}

.addChild > i { 
    color: purple;
    padding: 10px;
}

.removeChild {
    margin-top: 10px;
}

.removeChild > i {
    color: darkred;
    padding: 10px;
    
}
.removeChild:hover {
    background: #fff;
    border-radius: 10px;
}

.formDetails {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #fff;
    width: 100%;
    margin: 25px 0;
    font-size: 24px;
    opacity: 0.8;
}

.childrenCount {
    color:green;
    width: 200px;
}

.childrenCost {
    color: green;
    width: 200px;
}

.childrenCount > .underline {
    
    color: black;
    padding: 25px;
    background-color: rgb(235, 228, 228);
}

.childrenCost > .underline {
    color: black;
    padding: 25px;
    background-color: rgb(235, 228, 228);
}
.nextStep {
    color: black;
    padding: 25px;
    margin: 25px 0;
}

.nextStep:hover > i {
    color: green;
}

.prevStep {
    color:black;
    padding: 25px;
    margin: 25px 0;
}

.prevStep:hover {
    color: tomato;
}

.confWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
}
.confContainer {
    background: #fff;
    width: 90%;
    border-radius: 3px;
    min-height: 50px;
    box-shadow: #e4e0e0 5px 5px;
}
.childContainer {
    word-spacing: 5px;
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 10px;
    justify-content: space-evenly;
    letter-spacing: 5px;
    font-size: 18px;
}
.steps {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.confTitle {
    padding-left: 10px;
}
.confName {
    padding-left: 10px;
    text-align: right;
}
.confAge {
    padding-left: 10px;
    text-align: right;
}

.flyer {
    background: url('./bg_flyer.jpg') no-repeat;
    background-size: cover;
    height: 400px;
    width: 400px;
    margin-bottom: 25px;
    border-radius: 10px;
}

.footerWrapper {
    color: #333;
    font-size: 18px;
    text-align: center;
    padding: 10px;
    align-self: flex-end;
    letter-spacing: 5px;
    height: auto;
    background: transparent;
    width: 100%;
    text-transform: capitalize;
    background-color: rgb(214, 209, 209);
    opacity: 0.5;
}

.fa-3x {
    display: block;
}

.checkout {
    margin: 25px auto 4vh auto;
    width: 95%;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    max-width: 800px;
    position: relative;
    z-index: 5;
    background-color:#fffcfc;
    padding: 20px;
    top: 0;
    height: auto;

}

.ccContainer {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
}

.StripeElement {
    height: 40px;
    padding: 10px 12px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color:white;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
    color: #32325d; 
    font-size: 16px;
}

.StripeElement::placeholder {
    color: #aab7c4;
}

.StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
    border-color: #fa755a;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

.purchaseContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bottomFlex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.purchaseButton {
    background: var(--alternate-second-color);
    padding: 10px;
    font-size: 18px;
    margin-top: 10px;
    height: 37px;
    width: 100%;
    color: #32325d; 
    font-weight: 600;
    cursor: pointer;
    border-radius: 2px;
    flex: 1;
    margin: 0 50px;
}

.purchaseButton:hover {
    color: #fff;
}

.payNowButton {
    background: var(--primary-color);
    padding: 10px;
    font-size: 18px;
    margin-top: 10px;
    height: 37px;
    width: 100%;
    color: #32325d; 
    font-weight: 600;
    cursor: pointer;
    border-radius: 2px;
}

.payNowButton:hover {
    color: #fff;
}

#card-errors {
    padding: 10px 0;
    color: #fa755a;
    font-style: italic;
    text-align: center;
}

.errorMessage {
    padding: 10px;
    color: darkred;
    font-style: italic;
    text-align: right;
    font-size: 18px;
    border: 1px solid tomato;
    margin-top: 15px;
    text-transform: lowercase;
}

.confirmationComplete {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
    width: 100%;
    margin-bottom: 25px;
    text-align: center;
    word-spacing: 5px;
    line-height: 2em;
}

.highlight {
    text-transform: uppercase;
    font-weight: bold;
    color: dodgerblue;
}

.empty {
    display: none;
}
@media (min-width: 1000px) {
    .formWrap {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }
    .formContainer {
        width: 30%;
        margin: 10px 10px;
    }
    .flyer {
        background: url('./bg_flyer.jpg') no-repeat;
        background-size: cover;
        height: 200px;
        width: 200px;
        position: fixed;
        right: 13px;
        top: 26px;
        border-radius: 10px;
        z-index: 1001;
        cursor: pointer;
    }
    .confContainer {
        width: 50%;
    }
    .childContainer {
        justify-content: space-evenly;
    }
}